.myBadge1 {
background-color:#591f20;
-webkit-border-top-left-radius:15px;
-moz-border-radius-topleft:15px;
border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-moz-border-radius-topright:15px;
border-top-right-radius:15px;
-webkit-border-bottom-right-radius:15px;
-moz-border-radius-bottomright:15px;
border-bottom-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-moz-border-radius-bottomleft:15px;
border-bottom-left-radius:15px;
text-indent:0px;
border:2px solid #000;
display:inline-block;
color:white;
font-family:Times New Roman;
font-size:12px;
font-weight:normal;
font-style:normal;
height:14px;
line-height:14px;
width:75px;
text-decoration:none;
text-align:center;
white-space:nowrap
}.myBadge1:hover {
background-color:#5cb811;
}.myBadge1:active {
position:relative;
top:1px;
}


.myBadge2 {
background-color:#591f20;
-webkit-border-top-left-radius:15px;
-moz-border-radius-topleft:15px;
border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-moz-border-radius-topright:15px;
border-top-right-radius:15px;
-webkit-border-bottom-right-radius:15px;
-moz-border-radius-bottomright:15px;
border-bottom-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-moz-border-radius-bottomleft:15px;
border-bottom-left-radius:15px;
text-indent:0px;
border:2px solid #000;
display:inline-block;
color:white;
font-family:Times New Roman;
font-size:12px;
font-weight:normal;
font-style:normal;
height:15px;
line-height:15px;
width:150px;
text-decoration:none;
text-align:center;
white-space:nowrap
}
.myBadge3 {
background-color:#591f20;
-webkit-border-top-left-radius:15px;
-moz-border-radius-topleft:15px;
border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-moz-border-radius-topright:15px;
border-top-right-radius:15px;
-webkit-border-bottom-right-radius:15px;
-moz-border-radius-bottomright:15px;
border-bottom-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-moz-border-radius-bottomleft:15px;
border-bottom-left-radius:15px;
text-indent:0px;
border:2px solid #000;
display:inline-block;
color:white;
font-family:Times New Roman;
font-size:12px;
font-weight:normal;
font-style:normal;
height:15px;
line-height:15px;
width:75px;
text-decoration:none;
text-align:center;
}.myBadge3:hover {
background-color:#5cb811;
}.myBadge3:active {
position:relative;
top:1px;
}

.myBadge4 {
background-color:#591f20;
-webkit-border-top-left-radius:15px;
-moz-border-radius-topleft:15px;
border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-moz-border-radius-topright:15px;
border-top-right-radius:15px;
-webkit-border-bottom-right-radius:15px;
-moz-border-radius-bottomright:15px;
border-bottom-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-moz-border-radius-bottomleft:15px;
border-bottom-left-radius:15px;
text-indent:0px;
border:2px solid #000;
display:inline-block;
color:white;
font-family:Times New Roman;
font-size:12px;
font-weight:normal;
font-style:normal;
height:15px;
line-height:15px;
width:150px;
text-decoration:none;
text-align:center;
white-space:nowrap
}