	html,
	body {
		margin:0;
		padding:0;
		height:100%;
	}

	#header {
		top: 0;
		position:fixed;
		width:100%;
		background:#591f20;
		height:22px;
		color:white;
		padding:2px;
	}


	#myfooter {
		position:fixed;
		bottom:0;
		width:100%;
		height:30px;			/* Height of the footer */
		color:white;
		font: normal 11px Arial, Verdana, sans-serif;
		background:#591f20;
	}

	#myfooter p {
		margin:0;
		padding:3px 0 0 3px;
	}

	.ddcolortabs{
padding: 0;
width: 100%;
voice-family: "\"}\"";
voice-family: inherit;
}

.ddcolortabs ul{
font: normal 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}


.ddcolortabs a{
float:left;
color: white;
background: black url(media/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(media/color_tabs_right.gif) no-repeat right top;
padding: 4px 8px 2px 7px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #591f20;
}

.ddcolortabs a:hover span{
background-color: #591f20;
}

.ddcolortabsline{
clear: both;
padding: 0;
top: 23px;
position:fixed;
width: 100%;
height: 8px;
line-height: 8px;
background: black;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
border-bottom: 1px solid #fff; 
}

/* ######### Responsive CSS ######### */

@media screen and (max-width: 480px){
	.ddcolortabs{
		overflow: hidden;
	}

	.ddcolortabs li{
		display: block !important;
		width: 100%;
		margin: 0;
	}

	.ddcolortabs li a{
		display: block;
		padding: 10px auto;
		font-size: 120%;
		margin-top: 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ddcolortabsline{
		display: none;
	}
}
