	html,
	body {
		margin:0;
		padding:0;
		height:100%;
	}

	#header {
		top: 0;
		position:fixed;
		width:100%;
		background:#591f20;
		height:22px;
		color:white;
		padding:2px;
	}


	#myfooter {
		position:fixed;
		bottom:0;
		width:100%;
		height:30px;			/* Height of the footer */
		color:white;
		font: normal 11px Arial, Verdana, sans-serif;
		background:#591f20;
	}

	#myfooter p {
		margin:0;
		padding:3px 0 0 3px;
	}
	.somecontent{top: 34px;position:fixed;width: 100%;height: auto;}
	
	.ddcolortabs{
padding: 0;
width: 100%;
voice-family: "\"}\"";
voice-family: inherit;
}

.ddcolortabs ul{
font: normal 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}


.ddcolortabs a{
float:left;
color: white;
background: black url(media/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(media/color_tabs_right.gif) no-repeat right top;
padding: 4px 8px 2px 7px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #591f20;
}

.ddcolortabs a:hover span{
background-color: #591f20;
}

.ddcolortabsline{
clear: both;
padding: 0;
top: 23px;
position:fixed;
width: 100%;
height: 8px;
line-height: 8px;
background: black;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
border-bottom: 1px solid #fff; 
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_a{
position:absolute;
top: 0;
border: 1px solid black; /*THEME CHANGE HERE*/
border-top-width: 3px; /*Top border width. Should match height of .ddcolortabsline above*/
border-bottom-width: 0;
margin:8px 0 0 0;
font:normal 12px Arial;
line-height:18px;
z-index:100;
background:#591f20;
width: 200px;
visibility: hidden;
}

.dropmenudiv_a a{
width: auto;
display: block;
text-indent: 5px;
border-top: 0 solid #678b3f;
border-bottom: 1px solid #678b3f; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
color:white;
}

* html .dropmenudiv_a a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_a a:hover{ /*THEME CHANGE HERE*/
background-color: #8a3c3d;
color: white;
}

/* ######### Responsive CSS ######### */

@media screen and (max-width: 480px){
	.ddcolortabs{
		overflow: hidden;
	}

	.ddcolortabs li{
		display: block !important;
		width: 100%;
		margin: 0;
	}

	.ddcolortabs li a{
		display: block;
		padding: 10px auto;
		font-size: 120%;
		margin-top: 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ddcolortabsline{
		display: none;
	}

	.dropmenudiv_a{
		width: 100% !important;
		display: none;
		position: static;
		border-top-width: 1px;
		background:#591f20;
		color:white;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	 .dropmenudiv_a a{
	 	background:#591f20;
		color:white;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}
