body { font: 0.7em sans-serif; color: black;}

/* Datagrid Table */
table.tbl { background: black; width: 100%; margin:1; font-size: 1.2em;  } /* outside border */
td.tbl-header { background: #591f20; height:22px; text-align: center; padding: 0; border: 1; }
a {background: #591f20; color: white; border: 0; font-size: 1em;}
tr.tbl-footer {border: 0;}
table.tbl-footer { font-size: 1em; }
tr.tbl-row {border: 0;}
tr.tbl-row:hover { background: 	#ffa07a; } /* Old color: #E9E9E9    #8a3c3d  #EBFFFF  */
tr.tbl-row-even { background: #ffe4c4; border: 0; }
tr.tbl-row-odd { background: white; border: 0; }
/**tr.tbl-row-highlight:hover { background: #d2b48c; cursor: pointer; }**/
td.tbl-nav { background: #591f20; height: 22px; border: 0; color: white; }
td.tbl-pages { text-align: center; }
td.tbl-row-num { text-align: center; border: 0;}
td.tbl-cell {border: 1;}
td.tbl-controls { background: white; text-align: center; border: 0;}
td.tbl-found {}
/**td.tbl-checkall {}
**/td.tbl-page { text-align: right; }
/**td.tbl-noresults { font-weight: bold; color: white; height: 45px; text-align: center; }
**//**span.tbl-reset { margin: 5px 5px; }
**//**img.tbl-reset-image { margin-right: 5px; border: 0; }
**//**span.tbl-create { margin: 0 0; }
**//**img.tbl-create-image { margin-right: 5px; border: 0; }
**//**div.tbl-filter-box {}
**//**img.tbl-arrows { border: 0; }
**//**img.tbl-order-image { margin: 0 2px; border: 0; }
**//**img.tbl-filter-image { border: 0; }
**/img.tbl-control-image { background: white; border: 0; }
/**span.page-selected { color: black; font-weight: bold; }
**//**input.tbl-checkbox {}**/